.note {
	margin: 2em;
	width: 20em;
	height: 30em;
	padding: 10px;

	/* white-space: pre-wrap; */
	text-align: center;
	background-color: bisque;
	box-shadow: 5px 5px 7px rgba(221, 221, 221, 0.7);
	position: relative;
	color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	margin: 1em;
	padding: 0.5em;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: fit-content;
}

.text {
	margin: 1em;
	padding: 1em;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: auto;
	width: 100%;
	height: fit-content;
	overflow-wrap: break-word;
	word-wrap: break-word;
	display: inline-block;
}

.delete {
	position: absolute;
	top: 10px;
	right: 10px;
}
